@import './base.css';

:root {
  --primary: #6644ff;
  --nav-bg: #1c1948;
  --nav-border: #333;
  --text-white: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f8;
}

#app {
  width: 100%;
  min-height: 100vh;
}
